# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
venv/

# Environment variables
.env
*.env

# VS Code settings
.vscode/

# System files
.DS_Store
Thumbs.db

# Logs and temp files
*.log
*.tmp
